<section class="button">
  <button mat-raised-button color="primary" routerLink="/formLibri">Aggiungi libro</button>
  <button mat-raised-button color="warn" routerLink="/aggiornaLibro">Aggiorna libro</button>
</section>

<table class="fancy">
  <thead>
    <tr>
    <th>ID</th>
    <th>Autori</th>
    <th>Titolo</th>
    <th>Categoria</th>
    <th>Data di pubblicazione</th>
    <th>Cancella</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of dati" class="tr">
      <td>{{dato.idLibro}}</td>
      <td>{{dato.listaAutori}}</td>
      <td>{{dato.titolo}}</td>
      <td>{{dato.categoria}}</td>
      <td>{{dato.dataPubblicazione | date: 'dd/MM/YYYY'}}</td>
      <td>
        <span class="cancella" (click)="deleteLibro(dato.idLibro)">X</span>
      </td>
    </tr>
  </tbody>
</table>

<div class="div"></div>
